<div id="cards-page">
    <% @cards.each do |card| %>
        <div
            class="card-wrapper"
            onClick="window.location.href = '/card/<%= card[:card].name  %>'"
        >
            <img class="card-image" src="<%= card[:card].image %>"/>

            <div class="card-info-wrapper">
                <div class="card-header-wrapper">
                    <h3 class="card-header"><%= card[:card].name %></h3>
                    <div class="mana-cost-wrapper">
                        <% if card[:mana_cost] != nil %>
                            <% card[:mana_cost].each do |icon|%>
                                <img class="card-icon" src="<%= Icon.find_by(symbol: icon[0]).image %>" />
                            <% end %>
                        <% end %>
                    </div>
                </div>

                <% if card[:card].text != nil %>
                    <% card[:card].text.split("\n").each do |paragraph| %>
                        <div class="card-description-wrapper">
                            <% paragraph.split(/({.*?})/).each do |thing| %>
                                <% if(thing.match(/({.*?})/)) %>
                                    <img class="card-icon small" src="<%= Icon.find_by(symbol: thing).image %>" />
                                <% else %>
                                    <span class="card-description-text">
                                        <%= thing %>
                                    </span>
                                <% end %>
                            <% end %>
                            <br />
                            <br />
                        </div>
                    <% end %>
                <% end %>

                <div class="number-wrapper">
                    <% if card[:card].power != nil %>
                        <%= card[:card].power %>/<%= card[:card].toughness %>
                    <% end %>

                    <% if card[:card].loyalty != nil %>
                        Starting Loyalty: <%= card[:card].loyalty %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>